nav{
	/*padding-left: 15.47%;
	padding-right: 15.47%*/
	padding-left: 10%;
	padding-right: 10%
}

.home,
.portfolio,
.ongoing,
.about,
.separator{
	position: relative;
	top: 50px;
	height: auto;
	min-width: 100%;
	padding-bottom: 2.5%;
	font-family: segoe ui;
}

.home{
	padding-top: 1.5%;
	background-color: #333;
	padding-bottom: 2.5%;
}

.portfolio{
	background-color: #fff;
}

.ongoing{
	top: 0px;
	background-color: #fff;
}

.about{
	top: 0px;
	background-color: #fff;
}

.separator1{
	height: 500px;
	background-image: url(../img/leaves2.png);
}
.separator2{
	height: 500px;
	background-image: url(../img/leaves3.png);
}

h1, h2, h3{
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
}

h1{
	font-size: 96px;
}
h2{
	font-size: 60px;
	color: #F68A1E;
}
h3{
	font-size: 30px;
}

.home-h1, .home-h2{
	color: rgb(240, 240, 240);
	text-align: center;
}
.portfolio-h2, .portfolio-h3{}
.ongoing-h2, .ongoing-h3{}
.about-h2, .about-h3{}

footer{
	font-family: segoe ui;
	font-size: 30px;
	padding-top: 0.5%;
	background-color: rgb(240, 240, 240);
	position: relative;
	top: 1%;
	text-align: center;
}

#facebook, #twitter, #linkedin{
	position: relative;
	top: 10px;
	border: 4px solid #fff;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 0.5%;
}

#facebook{
	background-color: white;
	color: blue;
}

#twitter{
	background-color: white;
	color: green;
}

#linkedin{
	background-color: white;
	color: red;
}
